ul {
    list-style-type: none;
    text-align: right;
    margin: auto;
    width: 90%;
    padding-right: 10%;
}

li {
    display: inline;
    padding-left: 15px;
    padding-right: 15px;
}

a {
    color: #ff0099
}

header {
    background-color: #333333;
    padding: 10px;
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
}

article {
    width: 80%;
    margin: auto;
}

.name { 
    padding-top: 50px;
    font-family: "Nunito";
    font-size: 40px;
}

.position {
    color: #ff0099;
    padding-top: 8px;
    font-size: 25px;
    font-weight: normal;
}

.separator {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

h2 {
    text-align: center;
}

body {
    font-family: consolas;
    padding: 0 0;
    margin: 0 0;
    background-image: url("assets/topography/topography.png");
}

.introduction {
    font-size: 115%;
}

#logo {
    padding-left: 9.5%;
}







